@tailwind base;
@tailwind components;
@tailwind utilities;

/* /src/ui/globals.css */

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
